header {
  background-color: bisque
}

#imgAndShortBio {
  border: thick ridge #666 ;
  float: right;
  width: 25%;
  height: 65%;
  background-color: #666;
  color: bisque;
}
#shortBioImg {
  height:100%;
/*  border: 3px ridge blue; */
  /*margin-top: 0px;*/
  margin-left: 60px;
  margin-top:  10px;
  /*height:200px; */
  border-radius: 40%;
}
#shortBio {
  /*border: 3px ridge blue;*/
  padding: 0px;
  margin: auto;
}

#summary{
  border: 3px ridge #666;
  background-color: #666;
  color: rgb(91, 235, 213);
  width:70%; 
  padding: 10px;
  /*margin: auto;*/
}

#userGame {
  border: 3px ridge #666;
  background-color: #666;
  color: whitesmoke;
  width:70%;
  padding: 10px;
}

#myTopTenList{
  border : 3px ridge #666;
  background-color:  #666;
  width:70%;
  padding: 10px;
  overflow: hidden;
}

/*
#myTopTenList img{
  width: 20%;
  float: left;

} */

